body {
  font-family: Arial;
  padding:0;
  margin:0;
  font-size: 10px;
}
.container {
  width: 100%;
}
.wrapper {
  border: 1px solid #000;
  padding:10px;
  margin-bottom: 10px;
}
.allcaps {
  text-transform: uppercase;
}
.label {
  color:#000;
  text-transform: uppercase;
  text-decoration: underline;
}
.detail {
  margin-left: 10px;
  margin-top: 10px;
  font-weight: bold;
}
table td {
  vertical-align: middle;
  padding: 3px;
}
.border-bottom td {
  border-bottom: 1px solid #000;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
th {
	font-size: 10px;
}
td {
	font-size: 10px;
}
.signature {
  border-top:1px solid #000;
  text-align: center;
  margin: 40px auto 0;
  font-weight: bold;
}
.header-label {
  margin: 0 0 20px 0;
  border-bottom: 1px solid #000;
  padding: 10px;
  background-color: #EEE;
}
.header-label small {
	font-weight: normal;
}
.total {
  font-weight: bold;
}
.text-left {
	text-align: left!important;
}
.text-right {
	text-align: right!important;
}
.text-center {
	text-align:center!important;
}
table td {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}
tr.overalltotal {
	background-color: #EEE;
}
tr.overalltotal td {
	padding: 5px;
}
.bold {
	font-weight: bold;
}
.transaction {
  text-align: left;
}
.transaction-amount {
  text-align: right;
}
a.no-link {
  text-decoration: none;
  color:#000;
}
@media print {
	a[href]:after{
		content:none
	}
  .hidden_print {
    display: none;
  }
}
.items td,
.items th {
  font-size: 14px;
  text-align: left;
}
td, th {
  text-align: left;
}
table {
  border-top:1px solid #000;
  border-left:1px solid #000;
}
th {
  border-bottom:1px solid #000;
  border-right:1px solid #000;
  padding:3px;
}
h1,h2,h3 {
  margin: 0;
  padding:0; 
}
.highlight_td {
  background-color: #CCC;
  padding: 7px 5px;
}

.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  float: left;
  margin: 5px 10px;
  font-size: 20px;
}
.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover,
.btn-group > .btn:focus,
.btn-group-vertical > .btn:focus,
.btn-group > .btn:active,
.btn-group-vertical > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn.active {
  z-index: 2;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -1px;
}

.btn {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.btn .caret {
  border-top-color: #fff;
}
.btn-default {
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);
  background-image: -o-linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(60%, #ffffff), to(#f5f5f5));
  background-image: linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff5f5f5', GradientType=0);
  -webkit-filter: none;
          filter: none;
  border-bottom: 1px solid #e6e6e6;
}
.btn-default:hover {
  color: #555555;
}
.btn-default .caret {
  border-top-color: #555555;
}
.btn-default {
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);
  background-image: -o-linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(60%, #ffffff), to(#f5f5f5));
  background-image: linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff5f5f5', GradientType=0);
  -webkit-filter: none;
          filter: none;
  border-bottom: 1px solid #e6e6e6;
}
.btn-primary {
  background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  background-image: -o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#54b4eb), color-stop(60%, #2fa4e7), to(#1d9ce5));
  background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
  -webkit-filter: none;
          filter: none;
  border-bottom: 1px solid #178acc;
}
.btn-success {
  background-image: -webkit-linear-gradient(#88c149, #73a839 60%, #699934);
  background-image: -o-linear-gradient(#88c149, #73a839 60%, #699934);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#88c149), color-stop(60%, #73a839), to(#699934));
  background-image: linear-gradient(#88c149, #73a839 60%, #699934);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff88c149', endColorstr='#ff699934', GradientType=0);
  -webkit-filter: none;
          filter: none;
  border-bottom: 1px solid #59822c;
}
.btn-info {
  background-image: -webkit-linear-gradient(#04519b, #033c73 60%, #02325f);
  background-image: -o-linear-gradient(#04519b, #033c73 60%, #02325f);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#04519b), color-stop(60%, #033c73), to(#02325f));
  background-image: linear-gradient(#04519b, #033c73 60%, #02325f);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff04519b', endColorstr='#ff02325f', GradientType=0);
  -webkit-filter: none;
          filter: none;
  border-bottom: 1px solid #022241;
}
.btn-warning {
  background-image: -webkit-linear-gradient(#ff6707, #dd5600 60%, #c94e00);
  background-image: -o-linear-gradient(#ff6707, #dd5600 60%, #c94e00);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6707), color-stop(60%, #dd5600), to(#c94e00));
  background-image: linear-gradient(#ff6707, #dd5600 60%, #c94e00);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff6707', endColorstr='#ffc94e00', GradientType=0);
  -webkit-filter: none;
          filter: none;
  border-bottom: 1px solid #aa4200;
}
.btn-danger {
  background-image: -webkit-linear-gradient(#e12b31, #c71c22 60%, #b5191f);
  background-image: -o-linear-gradient(#e12b31, #c71c22 60%, #b5191f);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e12b31), color-stop(60%, #c71c22), to(#b5191f));
  background-image: linear-gradient(#e12b31, #c71c22 60%, #b5191f);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe12b31', endColorstr='#ffb5191f', GradientType=0);
  -webkit-filter: none;
          filter: none;
  border-bottom: 1px solid #9a161a;
}